/unity-proj/*
!/unity-proj/Assets/
!/unity-proj/ProjectSettings/
!/unity-proj/UnityAtlas*
*.ncb
*.suo
*.user
#*.vcxproj
*.filters
*.make
*.csproj
*~
bin
out
App.config
obj
Debug
build
.DS_Store
_gen
Makefile
netcode.userprefs
